.footer {
  background-color: $footercolor;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  .contenedor {
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;

    .footer__item {
      display: flex;
      color: white;
      justify-content: center;
    }

    .footer__icono {
      display: flex;
      justify-content: space-evenly;
      height: 18px;
      height: 18px;
    }
  }
}
